/* ===== MANAGE PRODUCTS ===== */
.manage-container {
  margin-top: 30px;
}

.manage-title {
  font-weight: 600;
}

/* Product Card */
.product-card {
  border-radius: 14px !important;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.product-name {
  font-weight: 600;
}

.product-price {
  color: green;
  font-weight: 500;
}

/* Delete Button */
.delete-btn {
  margin-top: 10px !important;
  border-radius: 20px !important;
}
